html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #050505 url(../img/img01.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: #5b5b5b;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p,
ul {
    margin-top: 0;
    line-height: 180%;
}

a {
    color: #5e5e5e;
}

#wrapper {
    background: #ffffff url(../img/img05.jpg) repeat;
}

/* Header */
#header-wrapper {
    overflow: hidden;
}

header {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

#banner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background: url(../img/img03.png) no-repeat left bottom;
}

/* Logo */
#logo {
    width: 300px;   /* this width stays the same for all screen sizes */
    margin: 0;
    padding: 0;
    color: #ffffff;
}

#logo h1 {
    line-height: 120px; /* this stays the same for all screen sizes */
    letter-spacing: -2px;
    font-size: 3.8em;
}

#logo h1 a {
    color: #1f1f1f;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

/* Menu */
nav {
    margin: 0 auto;
    padding: 0;
}

nav ul {
    margin: 0;
    padding: 5% 0 0 0;
    list-style: none;
    line-height: normal;
}

nav a {
    display: block;
    line-height: 100px;
    padding: 0 5%;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #1f1f1f;
    border: none;
}

nav a:hover,
nav .current_page_item a {
    background: url(../img/img01.jpg) repeat;
    text-decoration: none;
    color: #ffffff;
}

/* Page */
#page {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5% 0;
}

/* Content */
main {
    width: 100%;
    max-width: 660px;
    padding: 0;
}

article {
    overflow: hidden;
    margin-bottom: 5%;
    border-bottom: 1px solid #e7ebed;
}

article .title {
    letter-spacing: -1px;
}

article .title a {
    border: none;
    text-decoration: none;
    color: #222222;
}

article .meta {
    margin-bottom: 10%;
    padding: 5% 0 0 0;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

article time {
    float: left;
}

article .meta .posted {
    float: right;
}

article .entry {
    padding: 0 0 15% 0;
    text-align: justify;
}

.links {
    margin: 5% 0 10% 2%;
    display: block;
    float: left;
    width: 88px;    /* this stays the same for all screen sizes */
    padding: 1%;
    background: #222222;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

/* Sidebar */
aside {
    width: 100%;
    max-width: 270px;
    margin: 0;
    padding: 10% 0 0 0;
}

aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

aside li {
    margin: 0;
    padding: 0;
}

aside li ul {
    margin: 0;
    padding-bottom: 10%;
}

aside li li {
    line-height: 40px;  /* this stays the same for all screen sizes */
    border-bottom: 1px solid #e7ebed;
    margin: 0;
    border-left: none;
}

aside li li a {
    padding: 0 0 0 7%;
    background: url(../img/img04.jpg) no-repeat left 50%;
}

aside h2 {
    padding: 0 0 10% 0;
    letter-spacing: -0.5px;
    font-size: 1.8em;
    color: #222222;
}

/* Footer */
footer {
    margin: 0 auto;
    padding: 20% 0 2% 0;
    font-family: 'Abel', sans-serif;
}

footer p {
    margin: 0;
    padding-top: 2%;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
    color: #5e5e5e;
}
